<footer>
        <div class="body-container">
            <div class="blocks-footer">
                <div class="block-footer">
                    <a href="{% url 'home' %}"><h1>Автоампер</h1></a>
                    <div class="social-networks">
                        <a href="https://t.me/avtoamper23">
                            <div class="btn-sn">
                                <ion-icon name="paper-plane-outline"></ion-icon>
                            </div>
                        </a>
                        <a href="https://wa.me/79667605550">
                            <div class="btn-sn">
                                <ion-icon name="logo-whatsapp"></ion-icon>
                            </div>
                        </a>

                        <a href="tel:+79667605550">
                            <div class="btn-sn">
                                <ion-icon name="call-outline"></ion-icon>
                            </div>
                        </a>

                    </div>
                    <p>+7 966 760-55-50</p>
                </div>

                <div class="block-footer">
                    <h2>Дополнительно</h2>
                    <ul>
                        <a href="{% url 'about' %}">
                        <li>О сервисе</li></a>
                        <a href="{% url 'delivery' %}">
                        <li>Доставка и оплата</li></a>
                        <a href="{% url 'trade-in' %}">
                        <li>Трейд-ин</li></a>
                        <a href="{% url 'warranty' %}">
                        <li>Гарантии</li></a>
                        <a href="{% url 'privacy' %}">
                        <li>О конфиденциальности</li></a>
                        <a href="{% url 'details' %}">
                        <li>Реквизиты</li></a>
                    </ul>
                </div>
            </div>
            <div class="under-footer">
                <p>© Автоампер. Все права защищены</p>
                <p>Разработка и поддержка <a class="mycontact" href="https://t.me/lain_lain_lain_lain_lain">Lain</a></p>
            </div>
        </div>

    </footer>