{% extends 'main/base.html' %}
{% block title %}Страница не найдена{% endblock title %}
{% block content %}
    {% include 'main/elements/header_desktop.html' %}
    <main>
        {% include 'main/elements/header_mobile.html' %}
        <section class="about-section" id="about">

            <div class="body-container">

                {% include 'main/elements/category-block.html' %}
                <h1 class="header-404">Страница не найдена</h1>
                <form class="form-button form-404" action="{% url 'home' %}#products">
                    <button class="button-404">Перейти к ассортименту</button>
                </form>
                {% include 'main/elements/category-block.html' %}
            </div>

        </section>
    </main>
    {% include 'main/elements/footer.html' %}
{% endblock content %}

