
* {
    margin : 0;
    padding : 0;
}

:root {
    --font-var-default: 'GRAD' 40, 'wdth' 100, 'opsz' 20;
    --font-var-header: 'GRAD' 150, 'slnt' -10, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 141, 'wdth' 151;
}



html {
    scroll-behavior : smooth;

}

main {
    display : grid;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
span,{
    font-family: 'Roboto Flex', sans-serif;
}

/*������ ������ ��������� � ��������*/
.element::-webkit-scrollbar {
    width: 0px;
}

/*������ ������ ��������� ��� ���� ��������*/
::-webkit-scrollbar {
    width: 0px;
}

header {

    position : absolute;
    z-index : 99;
    width : 100%;
}

.hero_area {
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sub_page .hero_area {
    min-height: auto;
}

.header_section {
    background-color: #ffffff;
}

.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}

.header_section .nav_container {
    margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 3px 15px;
    margin: 10px 15px;
    color: #272727;
    text-align: center;
    text-transform: uppercase;
    position : relative;
    bottom : 16px;
    transition : 1s;
    
}

.nav-item {
    display: grid;
    flex-wrap : wrap;
    align-items: center;
    justify-content: center;
    
}

.nav-item img {
    width : 32px;
    margin-left : auto;
    margin-right : auto;
    margin-bottom : -8px;
    opacity : 0;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
}

.navbar-brand span {
    margin-left : 30px;
    font-size: 24px;
    font-weight: 700;
    color: #272727;
    text-transform: uppercase;
}

.custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.name-corp {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: center;
}

.name-corp .social-networks {
    margin-left : 15px;
}



.name-corp .social-networks a:nth-child(1) {
    position: relative;
    left: 1px;
}

.name-corp p {
    margin-left : 10px;
    color : rgb(100, 100, 100);
    font-weight : 200;
    font-size : 10px;
    margin-top : -10px;
    margin-bottom: -0px;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 32px;
    height: 4px;
    background-color: #000000;
    border-radius: 15px;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-radius: 15px;
    top: -10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    }

.quote_btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right : 20px;
}

.quote_btn-container a {
    color: #151515;
    margin-right: 10px;
    text-transform: uppercase;
}

.quote_btn-container a:hover {
    color : #151515;
    text-decoration : none;
}

.nav-logo {
    display : flex;
    justify-content : center;
    align-items : center;
    
    
}

.active a {
    text-decoration: auto;
}

/*
.active img {
    display : block;
    opacity : 1;
}

.active .nav-link {
    top : 0px;
}
*/

.nav-item:hover img {
    display: block;
    opacity: 1;
    transition: .5s;
    
}

.nav-item:hover img ~ .nav-link {
    position: absolute;
    top: 0;
    transition: 1s;
}

.quote_btn-container a::before {
    content: '';
    position: absolute;
    right: 65px;
    bottom: 30px;
    width: 60px;
    height: 1px;
    background-color: #000;
    transition: 0.2s;
    transform: scaleX(0);
}

.quote_btn-container a:hover:before {
    transform: scaleX(1);
}

.quote_btn-container a span {
    margin-right: 5px;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: auto;
    background-image: linear-gradient(0deg, rgba(0,83,191,1) 0%,rgba(0,172,235,1) 99%);
}

.home-section img {
    position : absolute;
    width : 100%;
    height : auto;
    object-fit : cover;
    z-index : 0;
}

.blocks-home {
    display : flex;
    align-items : flex-start;
    justify-content : center;
    width : 100%;
    height : auto;
}

.leftblock-home {
    width : 50%;
    height : auto;
    display : flex;
    justify-content : center;
    
    flex-direction : column;
    padding-top : 50px;
    padding-left : 120px;
    padding-right : 100px;
    padding-bottom : 40px;
    

}

.social-networks {
    display : flex;
    margin-bottom : 5px;
}

.social-networks .btn-sn {
    
    width : 40px;
    height : 40px;
    color : #FFFFFF;
    transition : 0.25s;
    margin-right : 10px;
    display : flex;
    justify-content : center;
    align-items : center;
}

.btn-sn ion-icon {
    font-size : 24px;
}

.social-networks .btn-sn:hover {
    color: #f08c3a;
    cursor: pointer;
}

.leftblock-home form {
    margin-bottom: 10px;
}

form button {
    width: 200px;
    text-align: center;
    border : 0px solid transparent;
    height: 48px;
    background-color : #212121;
    color : #FFFFFF;
    transition : 0.25s;
}

form button:hover {
    color : #212121;
    border : 1px solid #212121;
    background-color : transparent;
}

.leftblock-home h1 {
    color : rgb(240, 240, 240);
    width : 300px;
    padding-bottom : 15px;
    font-weight : 700;
    font-size : 80px;
    text-align : left;
}

.form-button button {
    color: rgb(250, 250, 250);
    background-color: #f08c3a;
    transition : .2s;
}

.form-button button:hover {
    color : #212121;
    background-color : rgb(240, 240, 240);
    border : none;
}



.leftblock-home p {
    color: rgb(220, 220, 220);
    font-weight: 400;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

.rightblock-home {
    padding-left: 100px;
    width: 50%;
    height: auto;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightblock-home img {
    width : auto;
    height : 40%;
}

.about-section {
    padding-bottom : 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,rgba(0,83,191,1) 0%, rgba(0,172,235,1) 50%, rgba(0,83,191,1) 100%);
}

.name-section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-name {
    border-bottom : 2px solid black;
    margin-bottom : 10px;
}

.blocks-about {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 100%;
    height : 600px;
}

.left-block-about {
    display : flex;
    align-items : flex-start;
    justify-content : flex-start;
    width: 20%;
    height : auto;
    
}

.left-block-about .img {
    z-index : 220;
    width : 85%;
    height : 85%;
    background-color : #212121;
}

.left-block-about img {
    width : 60%;
    height : auto;
}

.right-block-about {

    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    align-items : flex-start;
    width: 80%;
    height: auto;
    padding-left: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.right-block-about button {
    height : auto;
    padding-top : 10px;
    padding-bottom : 10px;
    border-radius : 26px;
}

.mini-header {
    border-bottom: 1.5px solid rgb(250, 250, 250);
    width: 100px;
    padding-bottom: 3px;
    font-weight: 400;
    color: rgb(250, 250, 250);
}

.right-block-about p {
    color : rgb(220, 220, 220);
}

.big-header {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(250, 250, 250);
}

.products-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
    background-image: linear-gradient(0deg, rgba(0,172,235,1) 0%, rgba(0,83,191,1) 99%);

}

.products {
    display : flex;
    width : 100%;
    height : auto;
    flex-wrap : wrap;
    justify-content : center;
    margin-bottom : 30px;
}

.product {
    text-decoration: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    flex-basis: calc(23% - 20px);
    margin: 10px;
    padding: 0;
    border: 1px solid transparent;
    transition: 0.5s;
    background-color: #f0f0f0;
    border-radius: calc(2.6 * 10px);
}

.product .buttons-card {
    height : 100%;
    display : flex;
    align-items : flex-end;
    width : 100%;
}

.product .buttons-card button {
    display : flex;
    width : 100%;
    color : #212121;
    border : none;
    transition : .2s;
    border-bottom-right-radius : calc(2.6 * 10px);
    border-bottom-left-radius : calc(2.6 * 10px);
}

.product .buttons-card button .price-card:nth-child(1){
    background-color : rgb(219, 223, 224);
    border-bottom-left-radius : calc(2.6 * 10px);
}

.product .buttons-card button .price-card:nth-child(2) {
    background-color : rgb(210, 210, 210);
    border-bottom-right-radius : calc(2.6 * 10px);
}

.product .buttons-card button:hover {
    
    border-left : none;
    border-right : none;
    background-color : #f08c3a;
    color : white;
    
    > .price-card:nth-child(1){
        background-color : #f08c3a;
        border-bottom-left-radius : calc(2.6 * 10px);
    }

    > .price-card:nth-child(2) {
        background-color : #ed7522;
        border-bottom-right-radius : calc(2.6 * 10px);
    }

}

.product-body {
    padding : 20px 20px 20px 20px;
}

.product:hover {
    transform: translateY(-5px);
    border-left: 1px solid rgb(250, 250, 250);
    border-right: 1px solid rgb(250, 250, 250);
    border-top: 1px solid rgb(250, 250, 250);
    cursor: pointer;
    text-decoration: none;
    color: rgb(250, 250, 250);
    outline: none;
}

.product-body:hover {
    text-decoration : none;
}

.all-menu {
    margin-top: 60px;
    padding-bottom: 3px;
}

.underline-link a {
    color : white;
    position : relative;
}

.underline-link a::before {
    content: '';
    bottom: -5px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: 0.2s;
    transform: scaleX(0);
}

.underline-link a:hover:before {
    transform: scaleX(1);
}

.product img {
    background-color : rgb(240, 240, 240);
    padding-top : 30px;
    width : 100%;
    height : auto;
    padding-bottom : 30px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
}

.product h5 {
    font-weight : 400;
    font-size: 16px;
}

.product p {
    font-size : 12px;
}

.price-card p {
    margin-bottom : 0px;
}

.price-card h5 {
    margin-bottom : 5px;
}

.card-info {
    display: flex;
    width: 100%;
}

.card-info h5,
.card-info p {
    text-decoration : none;
    color : #212121;
    outline: none;
}

.name-description-card {
    padding-top: 20px;
    width: 100%;
}

.price-card {
    width : 100%;
    padding-top: 20px;
    padding-right : 10px;
    display : flex;
    flex-direction : column;
    align-items : flex-end;
    justify-content : flex-start;
}

.price-card h5 {
    font-weight : 600;
    font-family : 'Segoe UI';
}

.contact-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,172,235,1);
    padding-bottom : 75px;
}

.header-contacts {
    
    padding-left : 100px;
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start

}

.blocks-contacts {

    display : flex;

    width : 100%;
    height : auto;
}

.left-block-contacts {
    padding-top : 10px;
    padding-left : 100px;
    padding-right : 100px;
    width : 50%;
    height : auto;
    display : flex;
    align-items : center;

}

.left-block-contacts form {
    padding-top : 30px;
    display : flex;
    flex-direction : column;
}

.left-block-contacts form input {
    width : 400px;
    margin-bottom : 30px;
    border : none;
    border-bottom : 1px solid white;
    outline: none;
    background-color : transparent;
    color : white;
    z-index : 2;
}

#wallet-icon {
    font-size : 30px;
}

.left-block-contacts form button {
    color: white;
    background-color: #f08c3a;
    border-radius : 4rem;
}

.left-block-contacts form button:hover {
    border : none;
    color : #212121;
    background-color : white;
}

form label {
    display: flex;
    align-items: center;
    font-size: 18px;
    transform: translateY(-65px);
    z-index: 0;
    color: white;
    transition: .2s;
}

#name:valid + #name-label {
    transform: translateY(-85px);
    font-size: 14px;
}

#phone:valid + #phone-label {
    transform: translateY(-85px);
    font-size: 14px;
}

#socials:valid + #social-label {
    transform: translateY(-85px);
    font-size: 14px;
}

#text:valid + #text-label {
    transform: translateY(-85px);
    font-size: 14px;
}

#name:focus + #name-label {
    transform: translateY(-85px);
    font-size : 14px;
}

#phone:focus + #phone-label {
    transform: translateY(-85px);
    font-size: 14px;
}

#socials:focus + #social-label {
    transform: translateY(-85px);
    font-size: 14px;
}

#text:focus + #text-label {
    transform: translateY(-85px);
    font-size: 14px;
}

label ion-icon {
    font-size : 18px;
    margin-right : 7.5px;
}

.right-block-contacts {
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.blocks-contacts .right-block-help {
    width : auto;
}

.right-block-contacts img {
    height: 500px;
    width: auto;
}

.our-contacts-block {
    width : 100%;
    padding-left : 35px;
    padding-top : 30px;
    padding-right : 35px;
}

.help-section {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(0deg,rgba(0,83,191,1) 0%, rgba(0,172,235,1) 50%, rgba(0,83,191,1) 100%);
}



footer {
    display : flex;
    height : auto;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    background-color : #212121;
    width : 100%;
    padding : 50px 0 0 0;
}

.blocks-footer {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-wrap : wrap;
    width : 100%;
    height : auto;
    padding-bottom : 50px;
    
}

.block-footer {
    display : flex;
    flex-direction : column;
    height : 260px;
    
}

.block-footer h1,
.block-footer h2,
.block-footer h3,
.block-footer h4 {
    padding-bottom : 10px;
    color : rgb(250, 250, 250);
    transition : .2s;
}

.block-footer p {
    font-size : 16px;
    color : rgb(180, 180, 180);
}

.block-footer ul a {
    text-decoration : none;
    color : rgb(180, 180, 180);
    list-style-type : none;
    transition : .2s;
}

.block-footer a:hover {
    color : #f08c3a;
}

.block-footer li {
    padding-bottom : 10px;
}

.block-footer:nth-child(1) a {
    text-decoration : none;
    outline : none;
}

.block-footer:nth-child(1) h1:hover {
    color: #f08c3a;
}

.block-footer:nth-child(1) {
    
    width : 670px;
}

.block-footer:nth-child(2) {
    padding-left : 30px;
    width : 250px;
}

.block-footer:nth-child(3) {
    width : 250px;
}

.under-footer {
    display : flex;
    width: 90%;
    height: auto;
    padding-top: 10px;
    border-top: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    color : white;
}

.under-footer p:nth-child(1) {
    width : 50%;
}

.under-footer p:nth-child(2) {
    width : 50%;
    display : flex;
    justify-content : flex-end;
}

.mycontact {
    color : white;
    text-decoration : none;
    outline : none;
    transition : .2s;
    padding-left : 4px;
}

.mycontact:hover {
    color: #f08c3a;
    text-decoration : none;
    outline : none;
}

.mini-icons a .btn-sn {
    width : 20px;
    height : 20px;
}

.black-style a .btn-sn {
    color : #212121;
}

.to-center {
    justify-content : center;
    align-items : center;
}

.help-blocks {
    width : 100%;
    height : 100%;
    display : flex;
}

.left-block-help {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    justify-content: center;
    font-family: 'Segoe UI';
}

.left-block-help button {
    background-color : #f08c3a;
    border : 1px solid transparent;
    color : white;
}

.left-block-help button:hover {
    background-color : white;
    color : #212121;
}

.left-block-help h1 {
    color : rgb(240, 240, 240);
    font-weight : 700;
}

.left-block-help p {
    color : rgb(180, 180, 180);
}

.right-block-help {
    width : 80%;
    height : auto;
    display : flex;
    justify-content : center;
    align-items : center;
}

.right-block-help img {
    width : auto;
    height : 100%;
}

.benefits-section {
    width : 100%;
    height : auto;
    background-color : #212121;
    display : flex;
    flex-direction : column;
    align-items : center;
    padding-top : 50px;
    padding-bottom : 50px;

}

.benefits-section h5 {
    color : rgb(240, 240, 240);
    font-weight : 400;
    border-bottom : 1px solid white;
    padding-bottom : 5px;
}

.benefits-section h1 {
    color : rgb(240, 240, 240);
    font-weight : 700;
    
    
}

.blocks-benefits {
    margin-top : 20px;
    margin-bottom : 30px;
    width : 100%;
    display : flex;
    justify-content : center;
    
}

.block-benefits {
    display : flex;
    flex-wrap : wrap;
    flex-direction : column;
    justify-content : flex-start;
    align-items : center;
    margin-right : 10px;
    height : auto;
    flex-basis: calc(30% - 20px);
}

.block-benefits h1 {
    position : relative;
    padding-bottom : 10px;
    font-size : 150px;
    font-weight : 800;
    
}

.block-benefits h2 {
    text-align : center;
    font-weight : 100;
    font-size : 30px;
    color : white;
}

.block-benefits svg {
    color : white;
}

.block-benefits img {
    height : 60%;
    width : auto;
    margin-bottom : 30px;
}

.icons-home {
    display : flex;
    width : 100%;
    height : 100%;
}

.icons-home .icon-home {
    color: white;
}

.icon-home {
    display : flex;
    margin-top : 15px;
    flex-basis : 50%;
    margin-right : 30px;
    justify-content : center;
    align-items : center;
    height : auto;
}

.icon-home img {
    width : 70px;
    height : auto;
}

.icons-home .icon-home a {
    width: 130px;
    font-size: 13px;
    color: white;
    margin-left: 10px;
    padding-top: 10px;
    
}

#fast-delivery-text {
    width : 50vw;
    
    font-size : 60px;
}

#name-company-home {

    margin-right : 50px;
    padding-left : 50px;
    padding-top: 20px;
    padding-bottom: 0;
    font-weight: 900;
    font-variation-settings: var(--font-var-header);
    font-family : 'Roboto Flex', sans-serif;
    display : inline-block;
    letter-spacing: 0;
    color : white;
    z-index : 999;
}

.find-acum h1 {
    width : 100%;
    font-size : 30px;
}

.find-acum {
    
    width: 100%;
    padding: 20px 30px 20px 30px;
    background-color: rgba(0,0,0,.25);
    border-radius : 26px;
}

button .price-card {
    width : 100%;
    height : auto;
}

.product button {
    height : auto;
}

.product button .price-card p {
    padding-top : 0;
    margin-top: -15px;
    
}

.left {
    align-items : flex-start;
    padding-left : 0;
    > p {
            padding-left : 20px;
        }
    > h5 {
        padding-left : 20px;
    }
}

.right {
    padding-right : 30px;
}

.categories-block {
    display : flex;
    flex-wrap : wrap;
    height : auto;
    width : 90%;
    margin-bottom : 30px;
    margin-left : auto;
    margin-right : auto;
}

.category {
    margin-right : 20px;
}

.category button {
    padding-left : 20px;
    padding-right : 20px;
    width : auto;
    background-color: rgba(0, 0, 0, .1);
    color : rgb(240, 240, 240);
    height : 4rem;
    border-radius : 100px;
    text-transform : uppercase;
}

.category button:hover {
    background-color : rgb(240, 240, 240);
    border : none;
    color : #212121;
}

.header {
    display : flex;
    width : 100%;
    height : 75px;
}

.leftside-header {
    display: flex;
    width: 70%;
    height: auto;
    justify-content: flex-start;
}

.rightside-header {
    left : 1000px;
    position : relative;
    top : -87px;
    display : flex;
    width : 30%;
    height : auto;
    
    justify-content : flex-end;
}

.container-header {
    display : flex;
    width : auto;
}

.element-header {
    display : flex;
    justify-content : center;
    align-items : center;
    margin-top: 30px;
    margin-right : 50px;
}

.element-header img {
    margin-right : 5px;
}

.rightside-header .container-header .element-header a {
    font-size: 14px;
    color: white;
    font-weight : 500;
    letter-spacing : .5px;
    transition : .2s;
    border-bottom : 1px solid rgba(255, 255, 255, .4);
}

.rightside-header .container-header .element-header a:hover {
    color : white;
    border-bottom : 1px solid rgba(255, 255, 255, 1);
    cursor : pointer;
}

.element-header button {
    height : 48px;
    padding : 0 20px 0 20px;
    border : 0px solid transparent;
    border-radius : 26px;
    color : white;
    background-color : rgba(0, 0, 0, .1);
    transition : .2s;
}

.element-header button:hover {
    background-color : rgba(0, 0, 0, .3)
}

.mobile {
    display : none;
    opacity : 0;
}

.body-container {
    width : 100%;
    max-width : 1980px;
}

aside {
    height : auto;
    width : 300px;
    display : flex;
    justify-content : center;
    align-items : flex-start;
}

aside li {
    width : 100%;
    height : 50px;
    color : rgb(240, 240, 240);
    background-color : transparent;
    display : flex;
    justify-content : flex-start;
    align-items : center;
    margin-bottom : 10px;
    padding-left : 20px;
    text-transform : uppercase;
    font-family : 'Robot Flex', sans-serif;
    border-radius : 26px;
    transition : .2s;
}

.left-block-about aside ul a {
    text-decoration: none;
}

.active-aside {
    color: #212121;
    background-color: rgb(240, 240, 240);
}

.active-category button {
    color: #212121;
    background-color: rgb(240, 240, 240);
    border : 26px;
}

aside li:hover {
    cursor : pointer;
    background-color : rgba(0, 0, 0, .1);
    color : rgb(240, 240, 240);
}

.right-block-about h5 {
    
    padding-bottom: 3px;
    font-weight: 400;
    color: rgb(250, 250, 250);
}

.right-block-about table {
    width : 1000px;
}

.right-block-about table td {
    height : auto;
    font-size : 20px;
    color : rgb(240, 240, 240);
    border-bottom : 1px solid white;
}



.right-block-about table td:nth-child(2) {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    
}

.title-privacy {
    font-size : 40px;
}

.contact-section .find-acum {
    background-color : rgba(0, 0, 0, .2);
    margin-bottom : 50px;
    width : 90%;
    margin-left : auto;
    margin-right : auto;
}

.contact-section .find-acum h1 {
    color : rgb(240, 240, 240);
    font-weight : 700;
}

.contact-section .find-acum p {
    color : rgb(220, 220, 220);
}

.item {
    display : flex;
    width : 100%;
    height : auto;
    
    display : flex;
    justify-content : center;
    align-items : center;
}

.item-bg {
    width: 90%;
    height: 100%;
    background-color: rgba(255,255,255,.2);
    border-radius: 26px;
    display : flex;
    justify-content : center;
    align-items : center;
}

.leftblock-item {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-basis: 60%;
    height: 100%;
}

.leftblock-item img {
    width :  auto;
    height : auto;
}

.rightblock-item {
    flex-basis: 40%;
    height: 100%;
    padding: 30px 20px 30px 10px;
}

.rightblock-item #in-order span {
    width : auto;
    display : flex;
    align-items : center;
    padding : 5px 10px 5px 5px;
    color : white;
    border-radius : 26px;
    background-image: linear-gradient(121deg, #2EE76D 13.39%, rgba(98, 237, 75, 0.82) 121.49%)
}

.rightblock-item #not-in-order span {
    width : auto;
    display : flex;

    background-color : #7B001C;
    align-items : center;
    padding : 5px 10px 5px 5px;
    color : white;
    border-radius : 26px;
    background-image: linear-gradient(121deg, #A00000 13.39%, #C62128 121.49%)
}

.rightblock-item span ion-icon {
    font-size : 20px;
    margin-right : 2px;
    margin-left: 5px;
}

.rightblock-item h1 {
    margin-top : 10px;
    font-weight : 600;
    color : #ecfaff;
    font-size : 50px;
}

#in-order {
    display : flex;
    width : 100%;
    justify-content : flex-end;
}

#not-in-order {
    display : flex;
    width : 100%;
    justify-content : flex-end;
}

#description-item tr {
    display: flex;
    color: #ecfaff;
}

#description-item tr td:nth-child(1) {
    width : 175px;
    padding-bottom : 5px;
}

.buttons-item-block {
    display: flex;
    flex-direction : column;

    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: #ecfaff;
    padding: 10px 10px 5px 10px;
    border-radius: 26px;
}

.buttons-item-block h6 {
    display : flex;
    font-size : 15px;
    align-items : center;
    padding-left : 10px;
    color: rgb(150, 150, 150);
}

.buttons-item-block h6 ion-icon {
    font-size : 20px;
    padding-right : 5px;
}

.buttons-item-block .form {
    margin-bottom : 10px;
    display : flex;
    width : 100%;
}

.buttons-item-block .form .button {
    flex-basis : 50%;
    color : #212121;
    height : auto;
    border : none
}

.buttons-item-block .form .button:nth-child(1) {
    border-top-left-radius : 26px;
    border-bottom-left-radius : 26px;
    background-color : rgb(219, 223, 224);
}

.buttons-item-block .form .button:nth-child(2) {
    border-top-right-radius : 26px;
    border-bottom-right-radius : 26px;
    background-color : rgb(210, 210, 210);
}

.buttons-item-block .form:hover {
    border: none;
    cursor : pointer;
    > .button {
        background-color : #f08c3a;
        color : white;
    }

    > .button:nth-child(2) {
        background-color : #ed7522;
    }

}

.buttons-item-block .form .button .price-card {
    padding : 10px 0 10px 0;
    
}

.fromlight-color {
    background-image: linear-gradient(0deg, rgba(0,83,191,1) 0%,rgba(0,172,235,1) 99%);
}

.modal-overlay {
    width : 100vw;
    height : 100vh;
    display : flex;
    justify-content : center;
    align-items : center;
    position : fixed;
    left : 0;
    top : 0;
    z-index : 999;
    visibility : hidden;
    background-color : rgba(0,0,0,.2);
}

.open {
    visibility : visible
}

.modal-window {
    display : flex;
    flex-direction : column;
    position : fixed;
    top : 20px;

    height: 400px;
    width: 650px;
    z-index: 9999;
}

.header-modal {
    display: flex;
    align-items: center;
    justify-content : flex-end;
    height: auto;
    width: 100%;
    background-color: white;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;

    > i h1 {
        margin-right : 300px;
        width : 100%;
        font-weight : 900;
        font-size : 37px;
        padding-left : 20px;
        padding-top : 10px;
        padding-bottom : 10px;
        justify-content : flex-start;
        text-align : left;
    }

    > button {
        padding: 5px;
        margin-right : 10px;
        font-size : 30px;
        background-color : transparent;
        border : 2px solid transparent;
        display : flex;
        justify-content : center;
        align-items : center;
        color : #212121;
        border-radius : 100%;
    }

    > button:hover {
        border : 2px solid #212121;
    }
}

.item-modal {
    display: flex;
    width: 100%;
    height: 35%;
    background-color: white;
}

.name-item-modal {
    width : 45%;
    height : 100%;
    display : flex;
    justify-content : center;
    align-items : center;

    > h1 {
        padding-left : 15px;
        font-size : 18px;
        font-weight : 600;
    }
    
    > img {
        padding-left : 10px;
        height : 50%;
    }
}

.prices-item-modal {
    display : flex;
    justify-content : center;
    align-items: center;
    width : 50%;
    height : 100%;

    > p {
        padding-right : 8px;
        padding-left : 8px;
        padding-top : 10px;
        font-size : 10px;
    }

    > h3 {
        font-weight : 700;
    }
}



.body-modal {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    border-radius : 26px;
    > form {
        height : 65%;
        width : 100%;
        display : flex;
        flex-direction : column;
        > input {
            margin-top : 20px;
            width : 95%;
            height : 50px;
            font-size : 20px;
            margin-left : auto;
            margin-right : auto;
            padding-left : 5px;
        }
    }
}

.send-modal {
    width : 100%;
    height : 60%;
    border-radius : 26px;
    display : flex;

}

.left-send-modal {
    width : 70%;
    height : 100%;
    display : flex;
    justify-content : flex-start;
    align-items : flex-start;
    flex-direction : column;
    > p {
        margin-top : 10px;
        padding-left : 30px;
        color : rgb(180, 180, 180);
        font-size : 13px;
        > a {
            color : rgb(180, 180, 180);
            border-bottom : 1px solid rgb(200, 200, 200);
        }
        > a:hover {
            text-decoration: none;
        }
    }



    > .social-networks .btn-sn {
        color : rgb(180, 180, 180);
        transition : 0s;
    }
    > .social-networks .btn-sn:hover {
        color : #f08c3a;
    }
}

.left-send-modal .social-networks {
    margin-top : -10px;
    margin-left : 20px;
}


.right-send-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    > button {
        height : auto;
        width: 80%;
        padding: 10px;
        font-size: 20px;
        border-radius: 26px;
        background-color: #f08c3a;
        text-transform: uppercase;
        border : none;
        transition : none;
    }
    
    > button:hover {
        transition : none;
        background-color : white;
        border : none;
        color : #212121;
    }
}

.form-404 {
    margin-left: 5%;
    margin-bottom: 50px;
    margin-top: 30px;
}

#button-thanks {
    width: 200px
}

.button-404 {
    width: 500px;
    height: 50px;
    text-align: left;
    padding-left: 30px;
    font-size: 25px;
    border-radius: 26px
}

.header-404 {
    font-size: 70px;
    padding-left: 5%;
    color: white;
    font-weight: 800
}

.avtoamper-logo {
    position : relative;
    
    
}